<div fxFlex [style.margin]="'20px'">
  <mat-card [style.min-width]="'200px'">
    <mat-card-header>
      <mat-card-title>Gustavo Tavares</mat-card-title>
      <mat-card-subtitle>CPA - ID:167583186 </mat-card-subtitle>
    </mat-card-header>

    <!-- <img
      routerLink="/album"
      mat-card-image
      class="album-cover"
      src=""
      alt="Profile Image"
    /> -->
    <strong>About me: </strong>Advertising and Propaganda professional from
    Brazil that loves technology and now is trying his best to enter the
    Programming world!
    <br />
    
  </mat-card>
</div>
