<mat-card>
  <mat-card-content>
    <form
      id="register-form-template"
      #registerForm="ngForm"
      (ngSubmit)="onSubmit(registerForm)"
    >
      <h2>Register</h2>
      <mat-error *ngIf="warning"> {{ this.warning }} </mat-error><br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          placeholder="User Name"
          name="username"
          required
          autofocus
          [(ngModel)]="registerUser.userName"
          #registerName="ngModel"
        />
        <mat-error *ngIf="registerName.invalid && registerForm.touched"
          >Please provide a valid email address</mat-error
        > </mat-form-field
      ><br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          required
          [(ngModel)]="registerUser.password"
          #registerPassword="ngModel"
        />
        <mat-error *ngIf="registerPassword.invalid && registerForm.touched"
          >Please provide a valid password</mat-error
        > </mat-form-field
      ><br />
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password2"
          required
          [(ngModel)]="registerUser.password2"
          #registerPassword2="ngModel"
        />
        <mat-error *ngIf="registerPassword2.invalid && registerForm.touched"
          >Please provide a valid password</mat-error
        > </mat-form-field
      ><br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        id="register-submit"
        [disabled]="loading"
        (click)="setLoading($event.target)"
      >
        <mat-icon>account_box</mat-icon>
        <span>&nbsp;&nbsp;&nbsp;Register</span>
      </button>
    </form>
  </mat-card-content>
  <div class="success" *ngIf="success">
    Registration Successful. Proceed to<br /><br />
    <a mat-raised-button color="accent" routerLink="/login">
      <mat-icon>login</mat-icon>&nbsp;&nbsp;&nbsp;Login
    </a>
  </div>
</mat-card>
